<mat-card>
  <mat-card-title class="gap">LIRI LABS</mat-card-title>
  <form>
    <mat-form-field appearance="outline">
      <input matInput type="email" placeholder="E-Mail">
      <mat-error *ngIf=''>Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input type="password" matInput placeholder="Password">
      <mat-error *ngIf=''>Please enter a valid password.</mat-error>
    </mat-form-field>
    <span class="example-fill-remaining-space"></span>
    <a href="#">Forgot password</a>
    <p>
    <button class="gap" mat-raised-button color = "primary" type="submit">LOG IN</button>
  </form>
</mat-card>
